/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    --heading-line-height: 1.3;
    --heading-font-weight: 700;
    --heading-font: var(--font-heading);
    line-height: var(--heading-line-height);
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font);
    margin-block-start: 1.02em;
    margin-block-end: 0.68rem;
}

h1,
.h1 {
    --heading-1-font-size: 3.052rem;
    font-size: var(--heading-1-font-size);
    color: var(--color-primary);
}

h2,
.h2 {
    --heading-2-font-size: 2.441rem;
    font-size: var(--heading-2-font-size);
}

h3,
.h3 {
    --heading-3-font-size: 1.953rem;
    font-size: var(--heading-3-font-size);
}

h4,
.h4 {
    --heading-4-font-size: 1.563rem;
    font-size: var(--heading-4-font-size);
}

h5,
.h5 {
    --heading-5-font-size: 1.336rem;
    font-size: var(--heading-5-font-size);
}

h6,
.h6 {
    --heading-6-font-size: 1.16rem;
    font-size: var(--heading-6-font-size);
}

p,
.body1,
.body2 {
    font-family: var(--font-general);
    color: var(--color-text-secondary);
}

.body1 {
    font-weight: 400;
    margin: 0;
}

.body2 {
    font-size: 0.94rem;
    margin: 0;
}

.text-center {
    text-align: center;
}
/* Typography styles ends here */



/* Responsive container for standard breakpoints values */
.container {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    width: 100%;
    max-width: var(--dimen-max-width);
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
/* Responsive container styles ends here */



/* Button styles */
button,
.button {
    --button-pad-x: 0.75rem;
    --button-pad-y: 0.375rem;
    --button-border-radius: var(--border-radius);
    --button-size-x: 8rem;

    /* Colors */
    --button-bg-default: inherit;
    --button-bg-primary: var(--color-primary);
    --button-bg-secondary: var(--color-secondary);
    --button-bg-hover: #673b3b60;

    display: inline-block;
    max-width: var(--button-size-x);
    padding: var(--button-pad-y) var(--button-pad-x);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg-default);
    color: inherit;
    font-family: var(--font-general);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color .15s ease-in-out;
}

button:hover,
.button:hover {
    background-color: var(--button-bg-hover);
}

button.primary,
.button.primary {
    background-color: var(--button-bg-primary);
    color: var(--color-default-dark);
}

button.primary:hover,
.button.primary:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-text-primary);
}

button.secondary,
.button.secondary {
    background-color: var(--button-bg-secondary);
    color: var(--color-default-light);
}

button.secondary:hover,
.button.secondary:hover {
    background-color: var(--color-secondary-light);
    color: var(--color-default-dark);
}

button.smol,
.button.smol {
    font-size: 0.78em;
    padding: 0.54rem 0.315rem;
}

button.icon,
.button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 36px;
}

button.text.primary,
.button.text.primary {
    background-color: transparent;
    color: var(--color-primary);
}

button.text.primary:hover,
.button.text.primary:hover {
    background-color: var(--button-bg-hover);
    color: var(--color-primary-light);
}

button.text.secondary,
.button.text.secondary {
    background-color: transparent;
    color: var(--color-secondary);
}

button.text.secondary:hover,
.button.text.secondary:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-secondary-light);
}

button.icon.smol,
.button.icon.smol {
    width: 36px;
    height: 36px;
    font-size: 24px;
}

button .material-symbols-outlined,
.button .material-symbols-outlined {
    font-size: inherit;
    vertical-align: text-bottom;
}

@media (prefers-color-scheme: dark) {
    button,
    .button {
        --button-bg-hover: #d0b4b460;
    }
}

@media (prefers-reduced-motion:reduce) {
    button,
    .button {
        transition: none
    }
}

button.edge-start,
.button.edge-start {
    margin-left: calc(var(--button-pad-x) * -1);
}

button.edge-end,
.button.edge-end {
    margin-right: calc(var(--button-pad-x) * -1);
}
/* Button styles ends here */



/* Nav styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}
/* Nav styles ends here*/



/* Header styles */
header nav {
    background: #000;
    overflow-x: auto;
}

header nav ul {
    white-space: nowrap;
}
/* Header styles ends here */



/* Toolbar */
.toolbar {
    --toolbar-height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: var(--toolbar-height);
    height: 100%;
    width: 100%;
}

.toolbar .actions {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.toolbar .actions>* {
    margin-right: var(--dimen-space-default);
}

.toolbar .actions>*:first-child {
    margin-right: 0;
}

@media (min-width: 992px) {
    .toolbar .actions {
        flex-direction: row;
    }

    .toolbar .actions>*:first-child {
        margin-right: var(--dimen-space-default);
    }

    .toolbar .actions>*:last-child {
        margin-right: 0;
    }
}
/* Toolbar styles ends here */



.logo {
    font-family: var(--font-heading);
    font-size: 1.3rem;
    color: var(--color-primary);
}

/* Footer styles */
footer {
    background-color: var(--color-background-paper);
    padding-top: calc(var(--dimen-space-default) * 2);
}

footer .category {
    display: block;
}

footer .category ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 576px) {
    footer .category {
        display: inline-block;
        width: 49%;
    }
}

@media (min-width: 768px) {
    footer .category {
        display: inline-block;
        width: 32%;
    }
}

.footer-bottom{
    background: #000;
}

.footer-bottom>.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}

.footer-bottom p {
    margin-block-start: var(--dimen-space-default);
}

.footer-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: var(--dimen-space-default);
    margin-block-end: var(--dimen-space-default);
}

.footer-bottom ul li {
    display: inline-block;
    padding-inline-end: var(--dimen-space-default);
}

.footer-bottom .button {
    font-weight: lighter;
}
/* Footer styles ends here */



/* Card styles */
.card {
    display: block;
    background-color: var(--color-background-paper);
    border-radius: var(--border-radius);
    width: -moz-fit-content;
    width: fit-content;
}

.card.elevated {
    box-shadow: var(--shadow-type-1);
}

.card.outlined {
    border: var(--border-default);
}

.card-media img {
    border-radius: var(--border-radius);
    transition: transform 0.25s ease-in-out;
}

.card-media img.animated:hover {
    transform: scale(1.058);
}

.card.outlined .card-media {
    padding: 0.5em;
}

.card.outlined .card-media img {
    box-shadow: var(--shadow-type-3);
}

.card .card-header {
    padding-top: var(--dimen-space-default);
    padding-right: var(--dimen-space-default);
    padding-left: var(--dimen-space-default);
}

.card .card-header h6,
.card .card-header .h6 {
    margin: 0 0 0.45em 0;
}

.card .card-body {
    padding: var(--dimen-space-default);
}

.card .card-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: var(--dimen-space-default);
    padding-bottom: var(--dimen-space-default);
    padding-left: var(--dimen-space-default);
}
/* Card styles ends here */



/* Form Element styles */
.form-control {
    display: block;
}

.form-control.full-width {
    width: 100%;
}

.form-control label {
    display: block;
    color: var(--color-text-secondary);
    font-size: 0.8em;
    padding-bottom: 0.4rem;
}

.form-control.required label::after {
    content: ' *';
}

.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
    font-family: inherit;
    background-color: var(--color-background-paper);
    color: inherit;
    border: var(--border-default);
    padding: 0.7rem 0.3rem;
}
/* Form Element styles ends here */



/* Banner styles */
.banner {
    background-image: url("/assets/pexels-max-deroin-249203.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: calc(var(--dimen-space-default) * 10) 0;
}

.banner * {
    text-align: left;
    text-align: start;
}

@media (min-width: 768px) {
    .banner * {
        text-align: center;
    }   
}
/* Banner styles ends here */
