/* Styles for Home Page */
#home-page main {
    padding-bottom: calc(var(--dimen-space-default) * 4);
}

#promotion .card {
    display: block;
    margin-block-start: var(--dimen-space-default);
}

#promotion .card:first-child {
    margin-block-start: 0;
}

@media (min-width: 992px) {
    #promotion .card {
        display: inline-block;
        
        width: 49%;
    }
}

@media (min-width: 1200px) {
    #promotion .card {
        margin-inline-start: var(--dimen-space-default);
    }

    #promotion .card:first-child {
        margin-inline-start: 0;
    }
}
/* Styles for Home Page ends here */



/* Styles for Contact Us Page */
#contact-us-page main {
    padding-bottom: calc(var(--dimen-space-default) * 4);
}

#contact-us-banner {
    --vertical-padding: calc(var(--dimen-space-default) * 4);
    background-image: url('../assets/contact-us-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: var(--vertical-padding) 0;
}

#contact-us-page > main > div.container {
    overflow: auto;
}

#col-physical-assistance {
    display: block;
    float: left;
    margin-block-start: calc(var(--dimen-space-default) * 2);
    margin-block-end: calc(var(--dimen-space-default) * 2);
}

#col-physical-assistance > h2 {
    margin-block-start: 0;
}

#contact-us-form {
    display: block;
    clear: left;
    margin-block-start: calc(var(--dimen-space-default) * 2);
}

@media (min-width: 768px) {
    #col-physical-assistance {
        display: inline-block;
        width: 49%;
        padding-inline-end: var(--dimen-space-default);
    }
    
    #contact-us-form {
        display: inline-block;
        width: 49%;
    }
}

#contact-us-form .card {
    width: 100%;
}

#contact-us-form .form-control {
    margin-block-end: var(--dimen-space-default);
}

#contact-us-page #gmap {
    width: 100%;
    height: 10rem;
    margin-top: var(--dimen-space-default);
}
/* Styles for Contact Us Page ends here */



/* Styles for Products page */
#products-page main {
    padding-bottom: calc(var(--dimen-space-default) * 4);
}

#products-page .banner {
    background-image: url("/assets/pexels-max-deroin-249203.jpg");
}

#products-page section .card {
    display: block;
    width: 100%;
    margin-block-end: var(--dimen-space-default);
}

@media (min-width: 768px) {
    #products-page section .card {
        display: inline-block;
        width: 48%;
        margin-inline-end: var(--dimen-space-default);
    }

    #products-page section .card:nth-last-of-type(odd) {
        margin-inline-end: 0;
    }
}
/* Styles for Products page ends here */
